{% extends 'common.html' %}

{% block IT %}
    {% include 'main_menu.html' %}
    <table>
    <h5 style="text-align: center">About The Company
Fabindia is India's largest private platform for products that are made from traditional techniques, skills and hand-based processes.

Fabindia links over 55,000 craft based rural producers to modern urban markets, thereby creating a base for skilled, sustainable rural employment, and preserving India's traditional handicrafts in the process.

Fabindia's products are natural, craft based, contemporary, and affordable.

The Fabindia School
The Fabindia School is a co-ed private school from preschool to Class XII with CBSE Board affiliation, located in Bali, Rajasthan. Starting with 11 students in 1992, today there are nearly 500 students with over 50% female enrolment. Visit www.fabindiaschools.org to read more about this unique initiative.

The Vision
At Fabindia we celebrate India, and endeavour to bring all that we love about India to customers around the world.

The Mission
We will harness the transformative power of a well-run business committed to profitable growth in support of Fabindia’s Vision.

We will strengthen and support our community of customers, designers, artisans, farmers, makers and entrepreneurs inspired by India.

We will give our customers products that delight them by interpreting our rich heritage and traditional knowledge, while protecting the natural environment.

Values & Guiding Principles
To remain true to our company’s history and our founder’s original Vision: "In addition to making profits, our aims are constant development of new products, a fair, equitable and helpful relationship with our producers, and the maintenance of quality on which our reputation rests."
– John Bissell

To ensure that we delight our customers with our products and service, and always make them feel that they are getting great value for their money.

To design, make and sell products with intrinsic worth that comes from the original designs, knowledge, care and skill with which these are made.

To be true to our commitment and history as an ethical and trust-worthy brand promoting a stake-holder based community model of inclusive capitalism.

To constantly share our Vision with our employees, suppliers, business associates and customers, so that we collectively ensure that all our actions are in service of our Vision, Mission and Guiding Principles.

The Fabindia Head Office is located in New Delhi at:

Fabindia Overseas Pvt. Ltd.
CIN: U74899DL1976PTC008436
Head Office: C-40, 2nd Floor, Okhla Industrial Area, Phase -2, New Delhi 110020, India
Tel: +91-011-40692000, Fax: +91 11 2681 1053, Email: mailus@fabindia.net

Registered Address: N-14 Greater Kailash - I, New Delhi 110048, India
Tel:+91 11 4669 3725, Email: mailus@fabindia.net</h5></table>
{% endblock %}