{% extends 'common.html' %}

{% block IT %}
    {% include 'main_menu.html' %}
    <form action="{% url 'save_student' %}" method="post">
    {% csrf_token %}
    <table align="center" border="2">
        <tr><th style="text-align: center">Student Register Page</th></tr>
       <tr><th><input class="form-control" type="text" placeholder="Name" required name="r1"></th></tr>
        <tr><th><input class="form-control" type="number" placeholder="Contact No." required name="r2"></th></tr>
       <tr><th><input class="form-control" type="email" placeholder="Email-Id" required name="r3"></th></tr>
       <tr><th><input class="form-control" type="password" placeholder="Password" required name="r4"></th></tr>
       <tr><th style="text-align: center"><button type="submit">Save</button></th></tr>
    </table>
    </form>
     {% for x in messages %}
                <h2 align="center" style="background-color: crimson;font-size: 30px;color:black "> {{ x }}</h2>
             {% endfor %}
{% endblock %}