{% extends 'common.html' %}
{% block IT %}
{% include 'main_menu.html' %}
    <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'enroll_course' %}">ENROLL THE COURSE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'view_enroll_courses' %}">VIEW ALL ENROLL COURSE</a>
  </li>

</ul>

    <table align="center" border="2">
     <tr>
         <th>course_id</th>
         <th>course_name</th>
         <th>cancel enroll course</th>


     </tr>
         {% for x,y in env_data.items %}
    <tr>
          <th>{{ x }}</th>
         <th>{{ y }}</th>
         <th>
             <a href="{% url 'cancel_enroll_class' %}?cid={{ x }}">   yes</a>
         </th>
    </tr>
    {% endfor %}

    </table>


{% endblock %}